.widget-iframe {
  background-color: $widget-purple;
}

.iframe-widget-iframe {
  height: 47vh;
  margin-top: .02rem;
  width: 99%;
}

#preventInteraction {
  height: 47vh;
  position: absolute;
  width: 98.8%;
}
