  <div class="icon-background-weather">
    {% if data.weather.weather[0].icon %}
    <i class="wi wi-{{ data.weather.weather[0].icon }}"></i>
    {% else %}
    <i class="wi wi-thermometer"></i>
    {% endif %}
  </div>
  {% if data.weather.message %}
  <p>{{ data.weather.message }}</p>
  <p>{{ data.weather.cod }}</p>
  {% else %}
  {% if data.weather.main.temp | round(2) < 13 %}
  <div class="widget-weather-cold">
  {% elif data.weather.main.temp | round(2) > 13 %}
  <div class="widget-weather-warm">
  {% elif data.weather.main.temp | round(2) > 26 %}
  <div class="widget-weather-hot">
  {% endif %}
<p class="weather-city">{{ data.weather.name }} Weather</p>
<p class="weather-type">{{ data.weather.weather[0].main }}</p>
<p class="weather-temp">{{ data.weather.main.temp | round(1) }}°C</p>
{% if data.weather.main.temp %}
</div>
{% endif %}
{% endif %}
