.widget-jenkinsSingle {
  background-color: $widget-green-dark;
  overflow: scroll;
}

.jenkins-single-heading {
  color: $white-soft;
  font-size: $font-xlarge;
}

.jenkins-subheading {
  font-size: $font-large;
}
