.widget-jenkinsSingle,
 .widget-jenkinsSingle1,
 .widget-jenkinsSingle2,
 .widget-jenkinsSingle3,
 .widget-jenkinsSingle4,
 .widget-jenkinsSingle5,
 .widget-jenkinsSingle6,
 .widget-jenkinsSingle7,
 .widget-jenkinsSingle8,
 .widget-jenkinsSingle9 {
  background-color: $widget-green-dark;
  overflow: scroll;
}

.jenkins-single-heading {
  color: $white-soft;
  font-size: $font-xlarge;
}

.jenkins-subheading {
  font-size: $font-large;
}
