{% macro aClock(dataset, data) %}
<div class="flex-widget-{{ dataset.display }}-{{ dataset.size }} widget-aClock" data-position="{{ dataset.position }}" data-widget="{{ dataset.widget }}" data-display="{{ dataset.display }}" data-size="{{ dataset.size }}" data-rate="{{ dataset.dataRate }}" data-style="{{ dataset.style }}" data-call="{{ dataset.dataCallTo }}">
    <canvas id="clock" width="250" height="300">
      Please upgrade your browser.
</canvas>
</div>
{% endmacro %}
