{% macro aClock(display, position, widget, size, rate, style) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-aClock" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}" data-style="{{ style }}">
    <canvas id="clock" width="250" height="300">
      Please upgrade your browser.
</canvas>
</div>
{% endmacro %}
