{% macro map(display, title, location, position, widget, size, rate) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-map" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <h3>{{ title }}</h3>
  <iframe id="mapWidgetFrame" src="//www.google.com/maps/embed/v1/place?q={{ location }}&zoom=17&key=AIzaSyCjCwOg99rHP3xGtJyM7LpPdnayHEz4Bxg"></iframe>
</div>
{% endmacro %}
