{% macro barChart(dataset, data) %}

<table id="barTable" class="data-table">
    {% for item in data['example-data-generator'].barChart %}
    <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
</table>
<div class="flex-widget-{{ dataset.display }}-{{ dataset.size }} widget-barChart" data-position="{{ dataset.position }}" data-widget="{{ dataset.widget }}" data-display="{{ dataset.display }}" data-size="{{ dataset.size }}" data-rate="{{ dataset.dataRate }}" data-style="{{ dataset.style }}" data-call="{{ dataset.dataCallTo }}">
  <div id="barDataDiv" data-x="The X axis" data-y="The Y axis" data-title="Bar Chart - Random data"></div>
  <canvas id="barCanvas" class="bar-chart-display" width="{{ dataset.size | int * 305}}" height="370"></canvas>
</div>
{% endmacro %}
