{% extends "nunjucks/templates/layout.njk" %}

{% block page_title %}PYI - Dashboard Select{% endblock %}
{% import "nunjucks/partials/forms.njk" as forms %}
{% import "nunjucks/partials/previews.njk" as preview %}

{% block body %}

<div class="favourites-wrapper">
  <button id="favouritesButton" class="favourites-button" type="button" name="button" data-target="faveWrapper"><i class="fa fa-heart" aria-hidden="true"></i> Favourites</button>
  {# <div class="favourites-form-wrapper"> #}
  <div id="faveWrapper" class="hidden">
    <form id="faveForm" class="fave-form" action="load-fave" method="post">
      {% if favourites.length > 0 %}
      {% for item in favourites %}
      <button class="fav-select" type="submit" form="faveForm" name="fave" value="{{ item }}">{{ item }}</button>
      {% endfor %}
      {% else %}
      <p>You have no saved favourites :(</p>
      {% endif %}
      <button id="closeFave" class="close-select" type="button" name="button"><i class="fa fa-window-close" aria-hidden="true"></i> Close</button>
    </form>
  </div>
</div>

<form class="select-form" action="dashboard-select" method="post">

  <div class="settings-wrapper">
    <button id="settingsButton" class="settings-button switcher-button" type="button" name="button"><i class="fa fa-cog" aria-hidden="true"></i> Settings</button>
  </div>

  {# TODO Set up partials for other form elements - switch inputs existing partials #}
  <div id="settingsMenu" class="hidden">
    <button class="settings-button return-button" type="button" name="button"><i class="fa fa-angle-left" aria-hidden="true"></i> Return</button>
    <h1 class="select-heading">Settings</h1>
    <div class="settings-form">
      <div class="settingsTabs flex">
        <button id="sizesOpen" class="settings-tab-button current-tab" type="button" name="button" data-target="widgetSizesTab">Widget sizes</button>
        <button id="callRateOpen" class="settings-tab-button" type="button" name="button" data-target="callRateTab">Data call rate</button>
        <button id="switchOpen" class="settings-tab-button" type="button" name="button" data-target="switchMethodTab">Switch method</button>
        <button id="styleOpen" class="settings-tab-button" type="button" name="button" data-target="styleTab">Style</button>
      </div>

      <div id="widgetSizesTab" class="settings-tab">
        <div>
          <h3>Change the sizes for your widgets</h3>
          <p>Width from one to four (five for 1080p displays)</p>
          <p>Height can be either one or two</p>
        </div>
        <div>
        {% for key, value in defaults.widgets %}
        {% if value.available %}
        <fieldset class="settings-fieldset">
          <legend class="settings-legend">{{ value.displayName }}</legend>
          <div class="settings-inputs">
          <label class="settings-label" for="">Width</label>
          <input class="settings-input width-input" type="number" min="1" max="5" maxlength="1" name="width" value="{{ value.width }}" data-target="{{ key }}-preview">
          <label class="settings-label" for="">Height</label>
          <input class="settings-input height-input" type="number" min="1" max="4" maxlength="1" name="height" value="{{ value.height }}" data-target="{{ key }}-preview">
        </div>
        </fieldset>
        {% endif %}
        {% endfor %}
        <button id="updateSizes" class="update-button" type="button" name="button">Update</button>
        <h3 id="updateSizeMessage" class="hidden">Sizes updated</h3>
        </div>
      </div>

      <div id="callRateTab" class="settings-tab hidden">
        <div>
          <h3>Change how often new data is requested</h3>
          <p>Enter a time in minutes</p>
        </div>
        <div>
        {% for key, value in defaults.widgets %}
        {% if value.dataCaller and value.available %}
        <fieldset class="settings-fieldset">
          <legend class="settings-legend">{{ value.displayName }}</legend>
          <div class="settings-inputs">
          <label class="settings-label" for="">Call frequency (mins)</label>
          <input class="settings-input call-rate-input" type="number" min="1" max="300" maxlength="2" name="" value="{{ value.dataRate/60000 }}" data-target="{{ key }}-preview">
        </div>
        </fieldset>
        {% endif %}
        {% endfor %}
        <button id="updateCallRate" class="update-button" type="button" name="button">Update</button>
        <h3 id="updateRateMessage" class="hidden">Call rates updated</h3>
        </div>
      </div>

      <div id="switchMethodTab" class="settings-tab hidden">
        <div>
          <h3>Change the way you switch between dashboards</h3>
          <div class="settings-fieldset-top-wrapper">
            <fieldset class="settings-fieldset-top"->
              <legend class="settings-legend-top">Switch Method</legend>
              <label class="settings-label-radio s-method" for="switchManual">Manual
              <input id="switchManual" class="settings-input-radio" type="radio" name="switchMethod" value="manual">
              </label>
              <label class="settings-label-radio s-method selected" for="switchAuto">Automatic
              <input id="switchAuto" class="settings-input-radio" type="radio" name="switchMethod" value="automatic" checked="checked">
              </label>
            </fieldset>
          </div>
          <div class="settings-fieldset-top-wrapper">
            <fieldset class="settings-fieldset-top">
              <legend class="settings-legend-top">Switch Type</legend>
              <label class="settings-label-radio s-type" for="switchAnother">Another
              <input id="switchAnother" class="settings-input-radio" type="radio" name="switchType" value="another">
              </label>
              <label class="settings-label-radio s-type" for="switchSwipe">Swipe
              <input id="switchSwipe" class="settings-input-radio" type="radio" name="switchType" value="swipe">
              </label>
              <label class="settings-label-radio s-type selected" for="switchFade">Fade
              <input id="switchFade" class="settings-input-radio" type="radio" name="switchType" value="fade" checked="checked">
              </label>
            </fieldset>
          </div>
        </div>
      </div>

      <div id="styleTab" class="settings-tab hidden">
        <div>
          <h3>Change the style of your dashboard and widgets</h3>
          <p>Check the readme for adding your own styles</p>
          <div class="settings-fieldset-top-wrapper">
            <fieldset class="settings-fieldset-top">
              <legend class="settings-legend-top">Style type</legend>
              {% for item in defaults.stylesheets %}
              <label class="settings-label-radio st-type {% if item === 'dashing' %} selected {% endif %}"for="style{{ item }}">{{ item | capitalize }}{% if item === 'dashing' %}-esque{% endif %}
              <input id="style{{ item }}" class="settings-input-radio st-input" type="radio" name="styleType" value="{{ item }}" {% if item === 'dashing' %}checked="checked"{% endif %} data-target="{{ item }}Preview">
              </label>
              {% endfor %}
              <h3>Preview</h3>
              <div class="preview-images">
              {% for item in defaults.stylesheets %}
              <img id="{{ item }}Preview" class="preview-image" src="../images/{{ item }}.png" alt="{{ item }} style dashboard preview">
              {% endfor %}
              </div>
            </fieldset>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="dashboard-settings">
  <h1 class="select-heading">Select your dashboards</h1>

  <fieldset class="select-fieldset">
    <legend class="select-legend">Screen Size</legend>
    {{ forms.input('pc-select', 'display', 'pc', 'radio', 'PC / Laptop', 'select-label', 'select-radio') }}
    {{ forms.input('tv-select', 'display', 'tv', 'radio', '1080p TV', 'select-label', 'select-radio') }}
  </fieldset>

  <fieldset id="widget-select" class="select-fieldset hidden">
    <legend class="select-legend">Select your widgets</legend>
    {% for key, value in defaults.widgets %}
    {% if value.available %}
    {{ forms.input(key+'-select', 'widget', key, 'checkbox', value.displayName, 'select-label', 'select-checkbox') }}
    {% endif %}
    {% endfor %}
  </fieldset>

  <div id="previewPane" class="faded hidden">
    <h3 class="select-heading">Preview</h2>
    <div class="flex">
      {{ preview.previewWrapper('flex-wrapper-preview') }}
      <hr id="preview-breaker" class="hidden">
      {{ preview.previewWrapper('flex-wrapper-preview-two') }}
    </div>
  </div>

  <!-- All Widgets go here - placed into preview pane in main.js -->
  {% for key, value in defaults.widgets %}
  {% if value.available %}
    <div id="{{ key }}-preview"
         class="widget-{{ key }} hidden"
         data-widget="{{ key }}" data-width="{{ value.width }}" data-height="{{ value.height }}" data-position="{{ loop.index }}" data-caller="{{ value.dataCaller }}" data-rate="{{ value.dataRate }}" data-style="{{ value.style }}">
         {{ value.displayName }}
    </div>
    {% endif %}
  {% endfor %}

  <input id="preview-submit" class="hidden" type="submit" name="" value="Load dashboard">
  <input id="hiddenOrdering" type="hidden" name="ordering" value="">

  </form>
</div>

<div id="loadingMessages" class="hidden">
  <h1 id="loadingMessage"></h1>
</div>
{% endblock %}
