{% extends "nunjucks/templates/layout.njk" %}
{% block page_title %}PYI - TV Dashboard{% endblock %}

{% block body %}
<div class="flex-wrapper-regular">
  <div class="flex-widget">Flex 1</div>
  <div class="flex-widget">Flex 1</div>
  <div class="flex-widget">Flex 1</div>
  <div class="flex-widget">Flex 1</div>
</div>
<div class="flex-wrapper-regular">
  <div class="flex-widget">Flex 1</div>
  <div class="flex-widget">Flex 1</div>
  <div class="flex-widget">Flex 1</div>
  <div class="flex-widget">Flex 1</div>
</div>
{% endblock %}
