{% extends "nunjucks/templates/layout.njk" %}
{% block page_title %}PYI - Main Dashboard{% endblock %}
{% import "nunjucks/widgets/xkcd.njk" as xkcdWidget %}
{% import "nunjucks/widgets/progress-meter.njk" as progressMeterWidget %}
{% import "nunjucks/widgets/bar-chart.njk" as barChartWidget %}
{% import "nunjucks/widgets/analogue-clock.njk" as analogueClockWidget %}
{% import "nunjucks/widgets/scatter-chart.njk" as scatterChartWidget %}
{% import "nunjucks/widgets/pie-chart.njk" as pieChartWidget %}
{% import "nunjucks/widgets/doughnut-chart.njk" as doughnutChartWidget %}


{% block body %}
<div class="flex-wrapper-regular" id="sortable">
  {{ pieChartWidget.pieChart('labels', 'numbers', pieData, 'Nom, nom, nom') }}
  {{ xkcdWidget.xkcd(xkcd.num, xkcd.title, xkcd.img) }}
  {{ scatterChartWidget.scatterChart('Big numbers', 'Smaller numbers', dummyDataScatter, 'A Scatter Chart') }}
  {{ progressMeterWidget.progressMeter('85') }}
  {{ barChartWidget.barChart('Something', 'Something else', dummyData, 'Something to do with fruit') }}
  {{ doughnutChartWidget.doughnutChart('labels', 'numbers', pieData, 'Mmm, doughnut') }}
</div>

{% for widget in widgets %}
<h1>{{ widget }}</h1>
{% endfor %}
{% endblock %}


{% block widgetScripts %}
<script type="text/javascript" src="../../scripts/widgets/progress-meter.js"></script>
<script type="text/javascript" src="../../scripts/widgets/bar-chart.js"></script>
<script type="text/javascript" src="../../scripts/widgets/scatter-chart.js"></script>
<script type="text/javascript" src="../../scripts/widgets/pie-chart.js"></script>
<script type="text/javascript" src="../../scripts/widgets/doughnut-chart.js"></script>

{% endblock %}
