{% extends "nunjucks/templates/layout.njk" %}
{% block page_title %}PYI - Test Space{% endblock %}
{% import "nunjucks/widgets/master-widgets.njk" as widget %}

{% block body %}
<div class="flex-wrapper-regular" id="sortable">
  {% for item in widgets %}
    {% if item === 'weather' %}
      {{ widget.weather(display, weatherType, weatherCity, weatherTemp, weatherIcon) }}
    {% elif item === 'pie' %}
      {{ widget.pie(display, 'labels', 'numbers', pieData, 'Nom, nom, nom') }}
    {% elif item === 'xkcd' %}
      {{ widget.xkcd(display, xkcd.num, xkcd.title, xkcd.img) }}
    {% elif item === 'scatter' %}
      {{ widget.scatter(display, 'Big numbers', 'Smaller numbers', dummyDataScatter, 'A Scatter Chart') }}
    {% elif item === 'progress' %}
      {{ widget.progress(display, '85') }}
    {% elif item === 'bar' %}
      {{ widget.bar(display, 'Something', 'Something else', dummyData, 'Something to do with fruit') }}
    {% elif item === 'doughnut' %}
      {{ widget.doughnut(display, 'labels', 'numbers', pieData, 'Mmm, doughnut') }}
    {% elif item === 'map' %}
      {{ widget.map(display) }}
    {% elif item === 'aClock' %}
      {{ widget.aClock(display) }}
    {% elif item === 'countdown' %}
      {{ widget.countdown(display, 'COUNTDOWN TO DINNER','29-Mar-2017 19:00:00') }}
    {% elif item === 'notices' %}
      {{ widget.notices(display, 'PYI Dashboard','Made by DWP Digital') }}
    {% elif item === 'jenkins' %}
      {{ widget.jenkins(display) }}
    {% elif item === 'dClock' %}
      {{ widget.dClock(display) }}
    {% elif item === 'calendar' %}
      {{ widget.calendar(display, calendar) }}
    {% endif %}
  {% endfor %}
</div>
<div id="secondBoard" class="hidden">
  <h1 style="color: white; text-align: center; padding-top:45vh;">Why Hello There</h1>
</div>
{% endblock %}

      {# {{ widget[item]('hello', 'hello') }} #}

{% block widgetScripts %}
<script type="text/javascript" src="../../scripts/widgets/progress-meter.js"></script>
<script type="text/javascript" src="../../scripts/widgets/analogue-clock.js"></script>
<script type="text/javascript" src="../../scripts/widgets/digital-clock.js"></script>
<script type="text/javascript" src="../../scripts/widgets/countdown.js"></script>
{% endblock %}
