{% extends "nunjucks/templates/layout.njk" %}
{% block page_title %}PYI - Test Space{% endblock %}
{% import "nunjucks/widgets/master-widgets.njk" as widget %}

{% block body %}

{{ 'aTest' }}

<div class="flex-wrapper-regular switcher" id="sortable">
  {% for item in widgets %}
    {% if item === 'weather' %}
      {{ widget.weather(display, weatherType, weatherCity, weatherTemp, weatherIcon) }}
    {% elif item === 'pieChart' %}
      {{ widget.pieChart(display, 'labels', 'numbers', pieData, 'Nom, nom, nom') }}
    {% elif item === 'xkcd' %}
      {{ widget.xkcd(display, xkcd.num, xkcd.title, xkcd.img) }}
    {% elif item === 'scatterChart' %}
      {{ widget.scatterChart(display, 'Big numbers', 'Smaller numbers', dummyDataScatter, 'A Scatter Chart') }}
    {% elif item === 'progress' %}
      {{ widget.progress(display, '85') }}
    {% elif item === 'barChart' %}
      {{ widget.barChart('barTable', 'barDataDiv', 'barCanvas', display, 'Something', 'Something else', dummyData, 'Something to do with fruit') }}
    {% elif item === 'doughnutChart' %}
      {{ widget.doughnutChart(display, 'labels', 'numbers', pieData, 'Mmm, doughnut') }}
    {% elif item === 'map' %}
      {{ widget.map(display, 'New York', 'Empire State Building') }}
    {% elif item === 'aClock' %}
      {{ widget.aClock(display) }}
    {% elif item === 'countdown' %}
      {{ widget.countdown(display, 'COUNTDOWN TO DINNER','29-Mar-2017 19:00:00') }}
    {% elif item === 'notices' %}
      {{ widget.notices(display, 'PYI Dashboard','Made by DWP Digital') }}
    {% elif item === 'jenkins' %}
      {{ widget.jenkins(display) }}
    {% elif item === 'dClock' %}
      {{ widget.dClock(display) }}
    {% elif item === 'calendar' %}
      {{ widget.calendar(display, calendar) }}
    {% endif %}
  {% endfor %}
</div>

<div id="secondBoard" class="hidden">
  <div class="flex-wrapper-regular" id="sortable2">
    {% for item in widgetsTwo %}
      {% if item === 'weather' %}
        {{ widget.weather(display, weatherType, weatherCity, weatherTemp, weatherIcon) }}
      {% elif item === 'pieChart' %}
        {{ widget.pieChart(display, 'labels', 'numbers', pieData, 'Nom, nom, nom') }}
      {% elif item === 'xkcd' %}
        {{ widget.xkcd(display, xkcd.num, xkcd.title, xkcd.img) }}
      {% elif item === 'scatterChart' %}
        {{ widget.scatterChart(display, 'Big numbers', 'Smaller numbers', dummyDataScatter, 'A Scatter Chart') }}
      {% elif item === 'progress' %}
        {{ widget.progress(display, '85') }}
      {% elif item === 'barChart' %}
        {{ widget.barChart('barTable', 'barDataDiv', 'barCanvas', display, 'Something', 'Something else', dummyData, 'Something to do with fruit') }}
      {% elif item === 'doughnutChart' %}
        {{ widget.doughnutChart(display, 'labels', 'numbers', pieData, 'Mmm, doughnut') }}
      {% elif item === 'map' %}
        {{ widget.map(display) }}
      {% elif item === 'aClock' %}
        {{ widget.aClock(display) }}
      {% elif item === 'countdown' %}
        {{ widget.countdown(display, 'COUNTDOWN TO DINNER','29-Mar-2017 19:00:00') }}
      {% elif item === 'notices' %}
        {{ widget.notices(display, 'PYI Dashboard','Made by DWP Digital') }}
      {% elif item === 'jenkins' %}
        {{ widget.jenkins(display) }}
      {% elif item === 'dClock' %}
        {{ widget.dClock(display) }}
      {% elif item === 'calendar' %}
        {{ widget.calendar(display, calendar) }}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block widgetScripts %}
{% for item in widgets %}
  {% if item === 'progress' %}
    <script type="text/javascript" src="../../scripts/widgets/progress-meter.js"></script>
  {% elif item === 'aClock' %}
    <script type="text/javascript" src="../../scripts/widgets/analogue-clock.js"></script>
  {% elif item === 'dClock' %}
    <script type="text/javascript" src="../../scripts/widgets/digital-clock.js"></script>
  {% elif item === 'countdown' %}
    <script type="text/javascript" src="../../scripts/widgets/countdown.js"></script>
  {% elif item === 'barChart' %}
    <script type="text/javascript" src="../../scripts/widgets/bar-chart.js"></script>
  {% elif item === 'doughnutChart' %}
    <script type="text/javascript" src="../../scripts/widgets/doughnut-chart.js"></script>
  {% elif item === 'scatterChart' %}
    <script type="text/javascript" src="../../scripts/widgets/scatter-chart.js"></script>
  {% elif item === 'pieChart' %}
    <script type="text/javascript" src="../../scripts/widgets/pie-chart.js"></script>
  {% endif %}
{% endfor %}

{% for item in widgetsTwo %}
  {% if item === 'progress' %}
    <script type="text/javascript" src="../../scripts/widgets/progress-meter.js"></script>
  {% elif item === 'aClock' %}
    <script type="text/javascript" src="../../scripts/widgets/analogue-clock.js"></script>
  {% elif item === 'dClock' %}
    <script type="text/javascript" src="../../scripts/widgets/digital-clock.js"></script>
  {% elif item === 'countdown' %}
    <script type="text/javascript" src="../../scripts/widgets/countdown.js"></script>
  {% elif item === 'barChart' %}
    <script type="text/javascript" src="../../scripts/widgets/bar-chart.js"></script>
  {% elif item === 'doughnutChart' %}
    <script type="text/javascript" src="../../scripts/widgets/doughnut-chart.js"></script>
  {% elif item === 'scatterChart' %}
    <script type="text/javascript" src="../../scripts/widgets/scatter-chart.js"></script>
  {% elif item === 'pieChart' %}
    <script type="text/javascript" src="../../scripts/widgets/pie-chart.js"></script>
  {% endif %}
{% endfor %}

{% endblock %}
