.widget-calendar {
  background-color: $widget-green-medium;
  overflow: scroll;
}

.center-wrapper {
  margin-bottom: auto;
  margin-top: auto;
}

.calender-heading {
  color: $white-soft;
  font-size: $font-xxlarge;
}

.calendar-icon {
  color: $white-soft;
  margin-right: 10px;
}

.calendar-event {
  font-size: $font-large;
  font-weight: 500;
}

.icon-background-calendar {
  color: $white;
  font-size: $icon-medium;
  margin-top: 0;
  opacity: .1;
  position: absolute;
  text-align: center;
  width: 100%;
}
