.widget-calendar {
  background-color: $widget-green-medium;
  overflow: scroll;
}

.center-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.calender-heading {
  color: $white-soft;
  font-size: $font-xxlarge;
}

.calendar-icon {
  margin-right: 10px;
  color: $white-soft;
}

.calendar-event {
  font-size: $font-large;
  font-weight: 500;
}

.icon-background-calendar {
  color: $white;
  width: 100%;
  position: absolute;
  opacity: 0.1;
  font-size: 17vw;
  text-align: center;
  margin-top: 0px;
}
