$main-background-colour: rgba(34, 34, 34, 1);
$alt-background-colour: #a7a9ac;
$background-soft-grey: rgba(93, 93, 93, .9);

$preview-background-colour: rgba(93, 93, 93, .9);

$form-field-border-colour: rgba(0, 0, 0, 1);

$grey-border: rgba(128, 128, 128, 1);

$shadow-colour: rgba(0, 0, 0, .75);
$box-shadow-colour: #666;

$color-focus: 	rgba(255, 140, 0, 1);

$color-hover: #7f7f00;


// Others

$white: #fff;
$white-fieldset: #dfdfdf;
$white-soft: rgba(255, 255, 255, .8);
$white-softer: rgba(255, 255, 255, .6);
$soft-blue: rgba(81, 203, 238, 1);

$black: #000;

$black-trans: rgba(0, 0, 0, .7);

// Widget backgrounds
$widget-light-blue: rgba(70, 130, 180, 1);
$widget-medium-blue: rgba(6, 111, 154, 1);
$widget-turqouise: rgba(71, 187, 179, 1);

$widget-purple: rgba(156, 66, 116, 1);

$widget-lime: rgba(150, 191, 72, 1);
$widget-green-light: rgba(71, 187, 179, 1);
$widget-green-medium: rgba(0, 128, 128, 1);
$widget-green-dark: rgba(71, 187, 179, .4);

$widget-orange: rgba(236, 102, 60, 1);
$widget-light-orange: rgba(255, 150, 24, 1);

$widget-red: rgba(220, 89, 69, 1);

$chart-grey: #808080;


// preview background
$dark-grey: rgba(48, 95, 92, 1);
