$main-background-colour: rgba(34, 34, 34, 1);
$background-soft-grey: rgba(93, 93, 93, .9);

$form-field-border-colour: rgba(0, 0, 0, 1);

$grey-border: rgba(128, 128, 128, 1);

$shadow-colour: rgba(0,0,0,0.75);

$color-focus: 	rgba(255, 140, 0, 1);

$color-hover: #7F7F00;


// Others

$white: #FFFFFF;
$white-soft: rgba(255, 255, 255, 0.8);
$white-softer: rgba(255, 255, 255, 0.6);

// Widget backgrounds
$widget-light-blue: rgba(70, 130, 180, 1);
$widget-medium-blue: rgba(6, 111, 154, 1);

$widget-green-light: rgba(71, 187, 179, 1);
$widget-green-medium: rgba(0, 128, 128, 1);
$widget-green-dark: rgba(71, 187, 179, 0.4);

$widget-orange: rgba(236, 102, 60, 1);

$widget-red: rgba(220, 89, 69, 1);


// preview background
$dark-grey: rgba(48, 95, 92, 1);
