$main-font-family: Arial, Helvetica, sans-serif;

$font-small: calc(12px + .1vw);
$font-regular: calc(14px + .1vw);
$font-large: calc(17px + .1vw);
$font-xlarge: 1.7vw;
$font-xxlarge: 2.3vw;
$font-xxxlarge: 3vw;
$font-super: 4vw;
