html {
  font-family: $main-font-family;
  font-size: 16px;
  margin: none;
  padding: none;
}

body {
  background-color: $main-background-colour;
  font-size: 1rem;
  margin: none;
  max-width: 100%;
  padding: none;
}

.alt-body-background {
  background: $alt-background-colour;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(.34, rgba(230,237,241,.05)), color-stop(.67, rgba(230,237,241,0)));
  background-size: 5px 5px;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

iframe {
  height: 85%;
  margin-top: -10px;
  width: 98%;
}

i {
  max-width: 100%;
}

.data-table {
  display: none;
}

.hidden {
  display: none;
}

.displayed {
  display: block;
}

.faded {
  opacity: 0.8;
}

#loadingMessage {
  color: $white;
  padding-top: 45vh;
  text-align: center;
}

.canvas-display {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 0;
 }

.align-wrapper {
  text-align: center;
 }

.clearfix {
  clear: both;
  display: block;
 }

 #testIframe {
   height: 97vh;
   margin: 0;
   overflow: hidden;
   padding: 0;
 }
