button {
  background-color: $white-soft;
  border: 2px solid $form-field-border-colour;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0 $shadow-colour;
  display: inline;
  font-size: $font-large;
  margin: .5rem;
  outline: none;
  padding: .5rem 1rem .5rem .5rem;
}

//Settings button
.settings-wrapper {
  position: relative;
}

.settings-button {
  left: 88vw;
  position: absolute;
  top: 2vh;
}
//Favourites button
.favourites-wrapper {
  position: relative;
}

.favourites-button {
  left: 1vw;
  position: absolute;
  top: 2vh;
}

.save-button {
  margin: .35rem .25rem -.25rem;
  padding: .5rem;
  text-align: center;
}

.save-button:hover {
  background-color: $color-hover;
}

.save-wrapper {
  background-color: $background-soft-grey;
  border: 2px solid $white-softer;
  border-radius: 5px;
  display: inline-block;
  max-width: 40vw;
  padding: 0 4rem;
}

.save-q {
  margin: 1rem 0 0;
}

#saveIt {
    text-align: center;
}

.fav-select {
  display: block;
  width: 10rem;
}

.close-select {
  background-color: $widget-red;
  margin-top: 2rem;
}

.settings-tab-button {
  border-radius: 0;
  margin: 0 auto;
  padding: .25rem .75rem;
  width: 50%;
}

.settings-tab-button:hover {
  background-color: $color-hover;
//  border-color: $color-hover;
}

.settings-tab-button:focus {
  background-color: $color-hover;
}

.current-tab {
  background-color: $widget-light-blue;
}

.update-button:focus,
  .favourites-button:focus,
    .settings-button:focus {
  border-color: $color-focus;
}

.update-button:hover {
  background-color: $color-hover;
  border-color: $color-focus;
}

.clicked {
  background-color: $widget-light-blue;
  border-color: $widget-medium-blue;
  box-shadow: 1px 1px 1px $box-shadow-colour;
  transform: translate(1px, 2px);
}
