.flex-wrapper-regular {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 95vh;
  margin: 0 80px;
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex.hidden {
  display: none;
}

.flex-wrapper-preview,
.flex-wrapper-preview-two {
  background-color: grey;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  height: 220px;
  margin: 5px auto;

}

.mobile-wrapper {
  max-width: 10%;
  width: 10%;
}

.pc-wrapper {
  max-width: 40%;
  width: 40%;
}

.tv-wrapper {
  max-width: 49%;
  width: 49%;
}

.flex-wrapper-preview-two.hidden {
  display: none;
}

.flex-widget-preview {
  background-color: $dark-grey;
  box-sizing: border-box;
  height: 100px;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
  width: 24%;
}

.flex-widget-preview-double-width {
  background-color: $dark-grey;
  box-sizing: border-box;
  height: 100px;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
  width: 48%;
}

.mobile-widget {
  width: 99%;
}

.pc-widget {
  width: 23.2%;
}

.pc-widget-double-width {
  width: 48%;
}

.tv-widget {
  width: 18.55%;
}

.tv-widget-double-width {
  width: 38.5%;
}

@media only screen and (max-width:800px) {
  .flex-widget-pc, {
    flex-basis: 100%;
  }

  .flex-widget-pc-double-width {
    width: 98%;
  }
}

.flex-widget-pc {
  background-color: $widget-green-dark;
  box-sizing: border-box;
  flex-basis: 24%;
  height: 46vh;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
}

.flex-widget-pc-double-width {
  background-color: $widget-light-blue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 48.8%;
}

.flex-widget-tv {
  background-color: $widget-green-dark;
  box-sizing: border-box;
  height: 46vh;
  max-height: 100vh;
  width: 19%;
  margin: 5px;
  text-align: center;
  position: relative;
}

.flex-widget-tv-double-width {
  background-color: $widget-light-blue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 38.6%;
}

.flex-widget-double-height {
  box-sizing: border-box;
  height: 95vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 24%;
}

.icon-background {
  color: $white;
  font-size: 19vw;
  margin-top: 40px;
  opacity: .1;
  position: absolute;
  text-align: center;
  width: 100%;
}

.icon-background-alt {
  color: $white;
  font-size: 16vw;
  margin-top: 100px;
  opacity: .5;
  position: absolute;
  text-align: center;
  width: 100%;
}
