.flex-wrapper-regular {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 95vh;
  margin: 0 80px;
  max-width: 100%;
}

@media only screen and (min-width:1600px) {
  .flex-wrapper-regular {
    margin: 0;
  }
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-flow: row nowrap;
}

.flex.hidden {
  display: none;
}

.flex-wrapper-preview,
.flex-wrapper-preview-two {
  background-color: grey;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  height: 220px;
  margin: 5px auto;
}

.mobile-wrapper {
  max-width: 10%;
  width: 10%;
}

.pc-wrapper {
  max-width: 40%;
  width: 40%;
}

.tv-wrapper {
  max-width: 49%;
  width: 49%;
}

.flex-wrapper-preview-two.hidden {
  display: none;
}

.flex-widget-preview-1 {
  background-color: $dark-grey;
  box-sizing: border-box;
  height: 100px;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
  width: 23.1%;
}

.flex-widget-preview-2 {
  background-color: $dark-grey;
  box-sizing: border-box;
  height: 100px;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
  width: 47.9%;
}

.flex-widget-preview-3 {
  background-color: $dark-grey;
  box-sizing: border-box;
  height: 100px;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
  width: 73%;
}

.flex-widget-preview-4 {
  background-color: $dark-grey;
  box-sizing: border-box;
  height: 100px;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
  width: 98%;
}

@media only screen and (max-width:800px) {
  .flex-widget-pc, {
    flex-basis: 100%;
  }

  .flex-widget-pc-double-width {
    width: 98%;
  }
}

.flex-widget-pc-1 {
  background-color: $widget-green-dark;
  box-sizing: border-box;
  flex-basis: 24%;
  height: 46vh;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
}

.flex-widget-pc-2 {
  background-color: $widget-light-blue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 48.8%;
}

.flex-widget-pc-3 {
  background-color: $widget-light-blue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 73%;
}

.flex-widget-pc-4 {
  background-color: $widget-light-blue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 98%;
}

.flex-widget-pc-8 {
  background-color: $widget-light-blue;
  box-sizing: border-box;
  height: 98%;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 98%;
}

.flex-widget-tv-1 {
  background-color: $widget-green-dark;
  box-sizing: border-box;
  height: 46vh;
  max-height: 100vh;
  width: 19%;
  margin: 5px;
  text-align: center;
  position: relative;
}

.flex-widget-tv-2 {
  background-color: $widget-light-blue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 38.6%;
}

.flex-widget-tv-2 {
  background-color: $widget-light-blue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 56%;
}

.flex-widget-tv-4 {
  background-color: $widget-light-blue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 75%;
}

.flex-widget-double-height {
  box-sizing: border-box;
  height: 95vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 24%;
}

.icon-background {
  color: $white;
  font-size: 19vw;
  margin-top: 40px;
  opacity: .1;
  position: absolute;
  text-align: center;
  width: 100%;
}

.icon-background-alt {
  color: $white;
  font-size: 16vw;
  margin-top: 100px;
  opacity: .5;
  position: absolute;
  text-align: center;
  width: 100%;
}
