fieldset {
  box-sizing: border-box;
  margin: 10px 40%;
  padding: 20px;
}

input {
  border: 2px solid $form-field-border-colour;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 0 $shadow-colour;
  display: block;
  font-size: $font-large;
  margin: 5px auto 20px;
  outline: none;
  padding: 8px;
}

label {
  display: block;
  font-size: $font-large;
  text-align: center;
}

input[type="submit"] {
  font-size: $font-large;
  margin-top: 30px;
  padding: 10px 50px;
}

input:focus,
 textarea:focus {
  border-color: $color-focus;
}

input[type=submit]:hover {
  background-color: $color-hover;
}

input[type=submit]:focus {
  border-color: $color-focus;
}

.login-form {
  background-color: $background-soft-grey;
  border: 3px solid $grey-border;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin: 20vh 0;
  padding: 20px 50px;
}

#settingsMenu {
  margin: 2rem;
  text-align: center;
}

.settings-form {
  background-color: $background-soft-grey;
  border: 3px solid $grey-border;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin: 5vh auto;
  max-width: 100%;
  padding: 0;
}

.fave-form {
  background-color: $white-softer;
  border: 3px solid $grey-border;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  left: 1.5vw;
  max-width: 25vw;
  position: absolute;
  padding: 1.25rem 2.5rem;
  text-align: center;
  top: 3vh;
}

.fave-form.hidden {
  .hidden {
    display: none;
  }
}

.nameField {
  margin-bottom: 0.5rem;
}

.settings-fieldset {
  box-sizing: border-box;
  margin: 0;
  padding: 1.25rem 2rem;
}

.settings-fieldset:first-of-type {
  border-top: 3px double $main-background-colour;
}

.settings-legend {
  float: left;
  font-size: $font-large;
  font-weight: bold;
  margin-top: .70rem;
  padding-right: 1.5rem;
}

.settings-inputs {
  border-left: 1px solid $main-background-colour;
  float: right;
  padding-left: 1.5rem;
}

.settings-input {
  display: inline;
  margin: 0;
}

.settings-input:not(:last-child) {
  margin-right: 1.5rem;
}

.settings-label {
  display: inline;
  font-weight: bold;
  margin-right: .5rem;
}

.settings-fieldset-top-wrapper {
  border: 2px groove $white-fieldset;
}

.settings-fieldset-top-wrapper:first-of-type {
  border-top: 3px double $main-background-colour;
}

.settings-fieldset-top {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 1.25rem 2rem;
}

.settings-legend-top {
  font-size: $font-large;
  font-weight: bold;
  padding-top: 1rem;
}

.settings-label-radio {
  background-color: $white-soft;
  border: 3px solid $grey-border;
  border-radius: 5px;
  box-shadow: 2px 2px 1px $black;
  display: inline-block;
  font-weight: bold;
  margin: 10px;
  padding: 1rem 2rem 1rem 1rem;
  text-align: center;
  width: 10rem;
}

.settings-label-radio:hover {
  background-color: $color-hover;
  border-color: $color-focus;
}

.settings-label-radio.selected {
  background-color: $widget-light-blue;
  border-color: $widget-medium-blue;
  box-shadow: 1px 1px 1px #666;
  transform: translate(1px, 2px);
}

.settings-label-radio:focus {
  border-color: $color-focus;
}

.settings-input-radio {
  float: left;
  margin: 0;
  opacity: 0;
  padding: 0;
}

.disabled {
  opacity: 0.2;
}
