.widget-aClock {
  background-color: $widget-green-dark;
}

#clock {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 7vh 0 2vh;
}

.widget-barChart {
  background-color: $chart-grey;
  border: 1px solid $dark-grey;
}

.bar-chart-display {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 0;
 }

.widget-calendar {
  background-color: $widget-green-medium;
  overflow: scroll;
}

.center-wrapper {
  margin-bottom: auto;
  margin-top: auto;
}

.calender-heading {
  color: $white-soft;
  font-size: $font-xxlarge;
}

.calendar-icon {
  color: $white-soft;
  margin-right: 10px;
}

.calendar-event {
  font-size: $font-large;
  font-weight: 500;
}

.icon-background-calendar {
  color: $white;
  font-size: $icon-medium;
  margin-top: 0;
  opacity: .1;
  position: absolute;
  text-align: center;
  width: 100%;
}

.widget-countdown {
  background-color: rgba(220, 89, 69, 1);
  padding: 0 .5rem;
}

.countdown-event {
  color: rgba(255, 255, 255, 0.9);
  font-size: $font-xxlarge;
  font-weight: bold;
  margin-top: 9vh;
}

.countdown-timer-days,
.countdown-timer-time {
  color: rgba(255, 215, 0, 0.8);
  font-size: $font-xxxlarge;
}

.countdown-timer-days {
  margin-top: 0;
  margin-bottom: -40px;
}

.countdown-due-date {
  color: rgba(255, 255, 255, 0.9);
}

.widget-dClock {
  background-color: $widget-red;
}

.digital-date {
  font-size: $font-xxlarge;
  color: $white;
  margin-top: 5vw;
}

.digital-time {
  font-size: $font-super;
  color: $white;
  font-weight: bold;
  margin: 0;
}

.widget-doughnutChart {
  background-color: $chart-grey;
  border: 1px solid $dark-grey;
}

.doughnut-chart-display {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 0;
 }

.widget-iframe {
  background-color: $widget-purple;
}

.iframe-widget-iframe {
  height: 47vh;
  margin-top: .02rem;
  width: 99%;
}

#preventInteraction {
  height: 47vh;
  position: absolute;
  width: 98.8%;
}

.widget-image {
  background-color: $widget-orange;
}

.image-widget-image {
  height: 48vh;
  width: 100%;
}

.widget-map {
  background-color: $widget-lime;
}

#mapWidgetFrame {
  height: 47vh;
  margin-top: .02rem;
  width: 99%;
}

#widgetMapPreventInteration {
  height: 47vh;
  position: absolute;
  width: 98.8%;
}

.widget-notices {
  background-color: $widget-green-light;
}

.widget-pieChart {
  background-color: $chart-grey;
  border: 1px solid $dark-grey;

}

.pie-chart-display {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 0;
 }

.widget-progress {
  background-color: darken($widget-light-blue, 7%);
}

#progressMeterDisplay {
  display: block;
  margin: 0 auto 1rem;
  max-height: 98%;
  max-width: 99%;
  padding: 0;
}

.progress-meter-heading {
  color: $white-softer;
  font-size: $font-xxlarge;
  margin-top: 5vh;
  margin-bottom: 10px;
}

.widget-scatterChart {
  background-color: $chart-grey;
  border: 1px solid $dark-grey;

}

.scatter-chart-display {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 0;
 }

.widget-weather {
  background-color: $widget-light-blue;
}

.weather-city {
  font-size: $font-xlarge;
  color: $white;
  opacity: 0.5;
}

.weather-temp {
  font-size: $font-super;
  font-weight: bold;
  color: $white;
  opacity: 0.8;
}

.weather-type {
  font-size: $font-xlarge;
  color: $white;
  opacity: 0.8;
}

.icon-background-weather {
  color: $white;
  width: 100%;
  position: absolute;
  opacity: 0.1;
  font-size: 14vw;
  text-align: center;
  margin-top: 13vh;
}

.widget-xkcd {
  background-color: $white-soft;
}

// $widget-green-dark;

.xkcd-comic {
  max-width: 100%;
  max-height: 87%;
}

.xkcd-heading {
  font-size: $font-large;
  color: $main-background-colour;
  margin: 0 auto -20px;
}

.widget-jenkinsAll {
  background-color: $widget-green-dark;
  overflow: scroll;
}

.jenkins-all-heading {
  color: $white-soft;
  font-size: $font-xlarge;
}

.widget-jenkins {
  background-color: $widget-orange;
}

.jenkins-jobs-heading {
  color: $white-soft;
  font-size: $font-xxlarge;
  margin-top: 30px;
}

.widget-jenkinsSingle,
 .widget-jenkinsSingle1,
 .widget-jenkinsSingle2,
 .widget-jenkinsSingle3,
 .widget-jenkinsSingle4,
 .widget-jenkinsSingle5,
 .widget-jenkinsSingle6,
 .widget-jenkinsSingle7,
 .widget-jenkinsSingle8,
 .widget-jenkinsSingle9 {
  background-color: $widget-green-dark;
  overflow: scroll;
}

.jenkins-single-heading {
  color: $white-soft;
  font-size: $font-xlarge;
}

.jenkins-subheading {
  font-size: $font-large;
}
