html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: none;
  padding: none; }

body {
  background-color: #222222;
  font-size: 1rem;
  margin: none;
  padding: none;
  max-width: 100%; }

.alt-body-background {
  background: #A7A9AC;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.34, rgba(230, 237, 241, 0.05)), color-stop(0.67, rgba(230, 237, 241, 0)));
  background-size: 5px 5px; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

iframe {
  width: 98%;
  height: 85%;
  margin-top: -10px; }

i {
  max-width: 100%; }

.data-table {
  display: none; }

.hidden {
  display: none; }

.displayed {
  display: block; }

.faded {
  opacity: 0.8; }

#loadingMessage {
  color: #fff;
  padding-top: 45vh;
  text-align: center; }

.canvas-display {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 0; }

.align-wrapper {
  text-align: center; }

.clearfix {
  display: block;
  clear: both; }

#testIframe {
  margin: 0;
  padding: 0;
  height: 97vh;
  overflow: hidden; }

fieldset {
  box-sizing: border-box;
  margin: 10px 40%;
  padding: 20px; }

input {
  border: 2px solid black;
  display: block;
  border-radius: 2px;
  font-size: calc(17px + .1vw);
  margin: 5px auto 20px;
  padding: 8px;
  outline: none;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75); }

label {
  display: block;
  font-size: calc(17px + .1vw);
  text-align: center; }

input[type="submit"] {
  font-size: calc(17px + .1vw);
  padding: 10px 50px;
  margin-top: 30px; }

input:focus,
textarea:focus {
  border-color: darkorange; }

input[type=submit]:hover {
  background-color: #7f7f00; }

input[type=submit]:focus {
  border-color: darkorange; }

.login-form {
  background-color: rgba(93, 93, 93, 0.9);
  border: 3px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin: 20vh 0;
  padding: 20px 50px; }

#settingsMenu {
  text-align: center;
  margin: 2rem; }

.settings-form {
  background-color: rgba(93, 93, 93, 0.9);
  border: 3px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin: 5vh auto;
  padding: 0;
  max-width: 100%; }

.fave-form {
  position: absolute;
  top: 3vh;
  left: 1.5vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 25vw;
  padding: 1.25rem 2.5rem; }

.fave-form.hidden .hidden {
  display: none; }

.nameField {
  margin-bottom: 0.5rem; }

.settings-fieldset {
  box-sizing: border-box;
  margin: 0;
  padding: 1.25rem 2rem 1.25rem 2rem; }

.settings-fieldset:first-of-type {
  border-top: 3px double #222222; }

.settings-legend {
  float: left;
  font-size: calc(17px + .1vw);
  font-weight: bold;
  margin-top: .70rem;
  padding-right: 1.5rem; }

.settings-inputs {
  float: right;
  border-left: 1px solid #222222;
  padding-left: 1.5rem; }

.settings-input {
  display: inline;
  margin: 0; }

.settings-input:not(:last-child) {
  margin-right: 1.5rem; }

.settings-label {
  display: inline;
  margin-right: .5rem;
  font-weight: bold; }

.settings-fieldset-top-wrapper {
  border: 2px groove #dfdfdf; }

.settings-fieldset-top-wrapper:first-of-type {
  border-top: 3px double #222222; }

.settings-fieldset-top {
  box-sizing: border-box;
  margin: 0;
  padding: 1.25rem 2rem 1.25rem 2rem;
  border: 0; }

.settings-legend-top {
  font-size: calc(17px + .1vw);
  font-weight: bold;
  padding-top: 1rem; }

.settings-label-radio {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid gray;
  box-shadow: 2px 2px 1px #000000;
  width: 10rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  padding: 1rem 2rem 1rem 1rem; }

.settings-label-radio:hover {
  background-color: #7f7f00;
  border-color: darkorange; }

.settings-label-radio.selected {
  background-color: steelblue;
  border-color: #066f9a;
  box-shadow: 1px 1px 1px #666;
  transform: translate(1px, 2px); }

.settings-label-radio:focus {
  border-color: darkorange; }

.settings-input-radio {
  margin: 0;
  padding: 0;
  opacity: 0;
  float: left; }

.login-heading {
  text-align: center; }

.flex-wrapper-regular {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 95vh;
  margin: 0 80px;
  max-width: 100%; }

@media only screen and (min-width: 1600px) {
  .flex-wrapper-regular {
    margin: 0; } }

.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-flow: row nowrap; }

.flex.hidden {
  display: none; }

.flex-wrapper-preview,
.flex-wrapper-preview-two {
  background-color: grey;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-flex;
  flex-wrap: wrap;
  height: 220px;
  margin: 5px auto; }

.mobile-wrapper {
  max-width: 10%;
  width: 10%; }

.pc-wrapper {
  max-width: 40%;
  width: 40%; }

.tv-wrapper {
  max-width: 49%;
  width: 49%; }

.flex-wrapper-preview-two.hidden {
  display: none; }

.flex-widget-preview-1 {
  background-color: #305f5c;
  box-sizing: border-box;
  height: 100px;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
  width: 23.1%; }

.flex-widget-preview-2 {
  background-color: #305f5c;
  box-sizing: border-box;
  height: 100px;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
  width: 47.9%; }

.flex-widget-preview-3 {
  background-color: #305f5c;
  box-sizing: border-box;
  height: 100px;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
  width: 73%; }

.flex-widget-preview-4 {
  background-color: #305f5c;
  box-sizing: border-box;
  height: 100px;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center;
  width: 98%; }

@media only screen and (max-width: 800px) {
  .flex-widget-pc {
    flex-basis: 100%; }
  .flex-widget-pc-double-width {
    width: 98%; } }

.flex-widget-pc-1 {
  background-color: rgba(71, 187, 179, 0.4);
  box-sizing: border-box;
  flex-basis: 24%;
  height: 46vh;
  margin: 5px;
  max-height: 100%;
  position: relative;
  text-align: center; }

.flex-widget-pc-2 {
  background-color: steelblue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 48.8%; }

.flex-widget-pc-3 {
  background-color: steelblue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 73%; }

.flex-widget-pc-4 {
  background-color: steelblue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 98%; }

.flex-widget-tv-1 {
  background-color: rgba(71, 187, 179, 0.4);
  box-sizing: border-box;
  height: 46vh;
  max-height: 100vh;
  width: 19%;
  margin: 5px;
  text-align: center;
  position: relative; }

.flex-widget-tv-2 {
  background-color: steelblue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 38.6%; }

.flex-widget-tv-2 {
  background-color: steelblue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 56%; }

.flex-widget-tv-4 {
  background-color: steelblue;
  box-sizing: border-box;
  height: 46vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 75%; }

.flex-widget-double-height {
  box-sizing: border-box;
  height: 95vh;
  margin: 5px;
  position: relative;
  text-align: center;
  width: 24%; }

.icon-background {
  color: #fff;
  font-size: 19vw;
  margin-top: 40px;
  opacity: .1;
  position: absolute;
  text-align: center;
  width: 100%; }

.icon-background-alt {
  color: #fff;
  font-size: 16vw;
  margin-top: 100px;
  opacity: .5;
  position: absolute;
  text-align: center;
  width: 100%; }

img {
  max-width: 100%; }

button {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid black;
  display: inline;
  border-radius: 5px;
  font-size: calc(17px + .1vw);
  margin: .5rem;
  padding: .5rem 1rem .5rem .5rem;
  outline: none;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75); }

.settings-wrapper {
  position: relative; }

.settings-button {
  left: 88vw;
  position: absolute;
  top: 2vh; }

.favourites-wrapper {
  position: relative; }

.favourites-button {
  left: 1vw;
  position: absolute;
  top: 2vh; }

.save-button {
  margin: .35rem .25rem -.25rem;
  padding: .5rem;
  text-align: center; }

.save-button:hover {
  background-color: #7f7f00; }

.save-wrapper {
  background-color: rgba(93, 93, 93, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  display: inline-block;
  max-width: 40vw;
  padding: 0 4rem; }

.save-q {
  margin: 1rem 0 0; }

#saveIt {
  text-align: center; }

.fav-select {
  display: block;
  width: 10rem; }

.close-select {
  margin-top: 2rem;
  background-color: #dc5945; }

.settings-tab-button {
  margin: 0 auto;
  padding: .25rem .75rem;
  border-radius: 0;
  width: 50%; }

.current-tab {
  background-color: steelblue; }

.update-button:focus {
  border-color: darkorange; }

.update-button:hover {
  background-color: #7f7f00;
  border-color: darkorange; }

.clicked {
  background-color: steelblue;
  border-color: #066f9a;
  box-shadow: 1px 1px 1px #666;
  transform: translate(1px, 2px); }

.select-heading {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-top: 10px; }

.select-fieldset {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: center;
  width: 75%; }

.select-legend {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.7vw;
  margin-bottom: -20px; }

input[type=radio]:hover {
  background-color: #7f7f00;
  border: 5px solid yellow; }

.select-label {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid gray;
  box-shadow: 2px 2px 1px #696969;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  padding: 0 10px 10px; }

.select-checkbox,
.select-radio {
  margin: 0;
  padding: 0;
  opacity: 0; }

.select-label:hover {
  background-color: #7f7f00;
  border-color: darkorange; }

.select-label.selected {
  background-color: steelblue;
  border-color: #066f9a;
  box-shadow: 1px 1px 1px #666;
  transform: translate(1px, 2px); }

.select-label:focus {
  border-color: darkorange; }

@media only screen and (max-width: 600px) {
  .select-label {
    width: 90vw;
    display: block;
    padding: 10px 0; } }

@media only screen and (max-width: 600px) {
  .select-checkbox,
  .select-radio {
    padding: 10px 0;
    margin: 0; }
  .select-fieldset {
    padding: 0;
    margin: 0; }
  .select-legend {
    padding: .5em; } }

.select-form {
  text-align: center; }

.widget-aClock {
  background-color: rgba(71, 187, 179, 0.4); }

#clock {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 7vh 0 2vh; }

.widget-barChart {
  background-color: rgba(255, 255, 255, 0.8); }

.bar-chart-display {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 0; }

.widget-countdown {
  background-color: #dc5945; }

.countdown-event {
  color: rgba(255, 255, 255, 0.9);
  font-size: 2.3vw;
  font-weight: bold;
  margin-top: 9vh; }

.countdown-timer-days,
.countdown-timer-time {
  color: rgba(255, 215, 0, 0.8);
  font-size: 3vw; }

.countdown-timer-days {
  margin-top: 0;
  margin-bottom: -40px; }

.countdown-timer-time {
  margin-bottom: 0px; }

.countdown-due-date {
  color: rgba(255, 255, 255, 0.9); }

.widget-calendar {
  background-color: teal;
  overflow: scroll; }

.center-wrapper {
  margin-top: auto;
  margin-bottom: auto; }

.calender-heading {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.3vw; }

.calendar-icon {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.8); }

.calendar-event {
  font-size: calc(17px + .1vw);
  font-weight: 500; }

.icon-background-calendar {
  color: #fff;
  width: 100%;
  position: absolute;
  opacity: 0.1;
  font-size: 17vw;
  text-align: center;
  margin-top: 0px; }

.widget-dClock {
  background-color: #dc5945; }

.digital-date {
  font-size: 2.3vw;
  color: #fff;
  margin-top: 5vw; }

.digital-time {
  font-size: 4vw;
  color: #fff;
  font-weight: bold;
  margin: 0; }

.widget-doughnutChart {
  background-color: rgba(255, 255, 255, 0.8); }

.doughnut-chart-display {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 0; }

.widget-jenkins {
  background-color: #ec663c; }

.jenkins-jobs-heading {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.3vw;
  margin-top: 30px; }

.widget-map {
  background-color: #dc5945; }

.widget-notices {
  background-color: #47bbb3; }

.widget-progress {
  background-color: #3c6f9a; }

#progressMeterDisplay {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 0; }

.progress-meter-heading {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2.3vw;
  margin-top: 5vh;
  margin-bottom: 10px; }

.widget-pieChart {
  background-color: rgba(255, 255, 255, 0.8); }

.pie-chart-display {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 0; }

.widget-scatterChart {
  background-color: rgba(255, 255, 255, 0.8); }

.scatter-chart-display {
  display: block;
  margin: 0 auto;
  max-height: 98%;
  max-width: 99%;
  padding: 0; }

.widget-weather {
  background-color: steelblue; }

.weather-city {
  font-size: 1.7vw;
  color: #fff;
  opacity: 0.5; }

.weather-temp {
  font-size: 4vw;
  font-weight: bold;
  color: #fff;
  opacity: 0.8; }

.weather-type {
  font-size: 1.7vw;
  color: #fff;
  opacity: 0.8; }

.icon-background-weather {
  color: #fff;
  width: 100%;
  position: absolute;
  opacity: 0.1;
  font-size: 14vw;
  text-align: center;
  margin-top: 13vh; }

.widget-xkcd {
  background-color: rgba(255, 255, 255, 0.8); }

.xkcd-comic {
  max-width: 100%;
  max-height: 87%; }

.xkcd-heading {
  font-size: calc(17px + .1vw);
  color: #222222;
  margin: 0 auto -20px; }
