{% macro aClock(display) %}
<div class="flex-widget-{{ display }} widget-analogue-clock">
    <canvas id="clock" width="250" height="300">
      Please upgrade your browser.
</canvas>
</div>
{% endmacro %}
