{% macro barChart(tableID, dataID, CanvasID, display, x, y, main, title) %}
<table id="{{ tableID }}" class="data-table">
    {% for item in main %}
    <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
</table>
<div class="flex-widget-{{ display }}-double-width widget-bar-chart">
  <div id="{{ dataID }}" data-x="{{ x }}" data-y="{{ y }}" data-title="{{ title }}"></div>
  <canvas id="{{ CanvasID }}" class="bar-chart-display" width="610" height="350"></canvas>
</div>
{% endmacro %}
