{% macro calendar(display, calendar) %}
<div class="flex-widget-{{ display }} widget-calendar-events">
  <div class="center-wrapper">
    <div class="icon-background-calendar">
      <i class="fa fa-calendar"></i>
    </div>
  <p class="calender-heading">Todays Events</p>
  {% if calendar.length < 1 %}
  <p class="calendar-event"><i class="fa fa-calendar calendar-icon" aria-hidden="true"></i>
    No events today</p>
 {% else %}
{% for event in calendar %}
<p class="calendar-event"><i class="fa fa-calendar calendar-icon" aria-hidden="true"></i>{{ event.start }}
<br>{{ event.summary }}</p>
{% endfor %}
{% endif %}
  </div>
</div>
{% endmacro %}
