{% macro jenkins(display) %}
<div class="flex-widget-{{ display }} jenkins-jobs-widget">
  <div class="icon-background-alt">
    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
  </div>
  <p id="jenkinsJobsHeading" class="jenkins-jobs-heading">All jenkins builds are successful</p>
</div>
{% endmacro %}
