{% macro scatterChart(display, x, y, main, title) %}
<table id="dataChartScatter" class="data-table">
    {% for item in main %}
    <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
</table>
<div class="flex-widget-{{ display }} widget-scatter-chart">
  <div id="scatterChartData" data-x="{{ x }}" data-y="{{ y }}" data-title="{{ title }}"></div>
  <canvas id="scatterChartDisplay" class="scatter-chart-display" width="300" height="360"></canvas>
</div>
{% endmacro %}
