.widget-dClock {
  background-color: $widget-red;
}

.digital-date {
  font-size: $font-xxlarge;
  color: $white;
  margin-top: 5vw;
}

.digital-time {
  font-size: $font-super;
  color: $white;
  font-weight: bold;
  margin: 0;
}
