{% macro dClock(dataset, data) %}
<div class="flex-widget-{{ dataset.display }}-{{ dataset.size }} widget-dClock" data-position="{{ dataset.position }}" data-widget="{{ dataset.widget }}" data-display="{{ dataset.display }}" data-size="{{ dataset.size }}" data-rate="{{ dataset.dataRate }}" data-style="{{ dataset.style }}" data-call="{{ dataset.dataCallTo }}">
  <div class="icon-background">
    <i class="fa fa-clock-o"></i>
  </div>
  <p id="digitalDate" class="digital-date"></p>
  <p id="digitalTime" class="digital-time"></p>
</div>
{% endmacro %}
