{% macro dClock(display, position, widget, size, rate) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-dClock" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <div class="icon-background">
    <i class="fa fa-clock-o"></i>
  </div>
  <p id="digitalDate" class="digital-date"></p>
  <p id="digitalTime" class="digital-time"></p>
</div>
{% endmacro %}
