{% macro jenkins(display, position, widget, size, rate, style) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-jenkins" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}" data-style="{{ style }}">
  <div class="icon-background-alt">
    <i class="fa fa-thumbs-o-up jenkins-icon" aria-hidden="true"></i>
  </div>
  <p id="jenkinsJobsHeading" class="jenkins-jobs-heading">All jenkins builds are successful</p>
</div>
{% endmacro %}
