{% macro xkcd(display, id, number, title, img, position, widget, size, rate, style) %}
<div id="{{ id }}" class="flex-widget-{{ display }}-{{ size }} widget-xkcd" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}" data-style="{{ style }}">
  <p class="xkcd-heading">XKCD: {{ number }}<br>
  {{ title }}</p>
  <br>
  <img class="xkcd-comic" src="{{ img }}" alt="Todays XKCD">
</div>
{% endmacro %}
