{% macro pieChart(dataset, data) %}
<table id="dataChartPie" class="data-table">
    {% for item in data['example-data-generator'].pieChart %}
    <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
</table>
<div class="flex-widget-{{ dataset.display }}-{{ dataset.size }} widget-pieChart" data-position="{{ dataset.position }}" data-widget="{{ dataset.widget }}" data-display="{{ dataset.display }}" data-size="{{ dataset.size }}" data-rate="{{ dataset.dataRate }}" data-style="{{ dataset.style }}" data-call="{{ dataset.dataCallTo }}">
  <div id="pieChartData" data-x="The X Axis" data-y="The Y Axis" data-title="Pie Chart"></div>
  <canvas id="pieChartDisplay" class="pie-chart-display" width="275" height="370"></canvas>
</div>
{% endmacro %}
