
{% extends "nunjucks/templates/layout.njk" %}

{% block body %}
<div class="align-wrapper">
<div class="login-form">
<h1 class="login-heading">Dashboard login</h1>
<form class="" action="/" method="post">
<label for="username">Username
  <input type="text" name="username" value="">
</label>
<label for="password">Password
  <input type="text" name="password" value="">
</label>

<button id="saveToFave" type="button" name="button">Save Data</button>
<h1 id="savedMessage"></h1>
<button id="getFave" type="button" name="button">Get Data</button>
<h1 id=retrievedData></h1>
  <input type="submit" name="" value="Login">
</form>
</div>
</div>
{% endblock %}
