{% macro notices(display, heading, comment, position, widget, size, rate, style) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-notices" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}" data-style="{{ style }}">
<h2>{{ heading }}</h2>
<p>{{ comment }}</p>
</div>
{% endmacro %}
