{% macro notices(dataset, data) %}
<div class="flex-widget-{{ dataset.display }}-{{ dataset.size }} widget-notices" data-position="{{ dataset.position }}" data-widget="{{ dataset.widget }}" data-display="{{ dataset.display }}" data-size="{{ dataset.size }}" data-rate="{{ dataset.dataRate }}" data-style="{{ dataset.style }}" data-call="{{ dataset.dataCallTo }}">
<h2>PYI Dashboard</h2>
<p>Made by ME Digital</p>
</div>
{% endmacro %}
