{% macro countdown(event,dueDate) %}
<div class="flex-widget widget-countdown">
<p class="countdown-event">{{ event }}</p>
<p id="countdownTimerDays" class="countdown-timer-days"><br></p>
<p id="countdownTimerTime" class="countdown-timer-time"></p>
<p id="countdownDueDate" class="countdown-due-date">Due date:<br> {{ dueDate }}</p>
</div>
{% endmacro %}
