{% macro map() %}
<div class="flex-widget widget-map">
  <h2>Somewhere else</h2>
  <iframe id="mapWidgetFrame" src="//www.google.com/maps/embed/v1/place?q=Empire State Building&zoom=17&key=AIzaSyCjCwOg99rHP3xGtJyM7LpPdnayHEz4Bxg"></iframe>
</div>
{% endmacro %}
