{% macro aClock(display, position, widget, size, rate) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-aClock" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
    <canvas id="clock" width="250" height="300">
      Please upgrade your browser.
</canvas>
</div>
{% endmacro %}

{% macro calendar(display, calendar, position, widget, size, rate) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-calendar" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <div class="center-wrapper">
    <div class="icon-background-calendar">
      <i class="fa fa-calendar"></i>
    </div>
  <p class="calender-heading">Todays Events</p>
  <div id="events">
  {% if calendar.length < 1 %}
  <p class="calendar-event"><i class="fa fa-calendar calendar-icon" aria-hidden="true"></i>
    No events today</p>
 {% else %}
{% for event in calendar %}
<p class="calendar-event"><i class="fa fa-calendar calendar-icon" aria-hidden="true"></i>{{ event.start }}
<br>{{ event.summary }}</p>
{% endfor %}
{% endif %}
</div>
  </div>
</div>
{% endmacro %}

{% macro barChart(tableID, dataID, CanvasID, display, x, y, main, title, position, widget, size, width, rate) %}
<table id="{{ tableID }}" class="data-table">
    {% for item in main %}
    <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
</table>
<div class="flex-widget-{{ display }}-{{ size }} widget-barChart" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <div id="{{ dataID }}" data-x="{{ x }}" data-y="{{ y }}" data-title="{{ title }}"></div>
  <canvas id="{{ CanvasID }}" class="bar-chart-display" width="{{ width }}" height="350"></canvas>
</div>
{% endmacro %}

{% macro countdown(display, event, dueDate, position, widget, size, rate) %}
<div class="flex-widget-{{ display }}-{{ size }} canvas-display widget-countdown" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
<p class="countdown-event">{{ event }}</p>
<p id="countdownTimerDays" class="countdown-timer-days"><br></p>
<p id="countdownTimerTime" class="countdown-timer-time"></p>
<p id="countdownDueDate" class="countdown-due-date">Due date:<br> {{ dueDate }}</p>
</div>
{% endmacro %}

{% macro dClock(display, position, widget, size, rate) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-dClock" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <div class="icon-background">
    <i class="fa fa-clock-o"></i>
  </div>
  <p id="digitalDate" class="digital-date"></p>
  <p id="digitalTime" class="digital-time"></p>
</div>
{% endmacro %}

{% macro doughnutChart(display, x, y, main, title, position, widget, size, rate) %}
<table id="dataChartDoughnut" class="data-table">
    {% for item in main %}
    <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
</table>
<div class="flex-widget-{{ display }}-{{ size }} widget-doughnutChart" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}"  data-rate="{{ rate }}">
  <div id="doughnutChartData" data-x="{{ x }}" data-y="{{ y }}" data-title="{{ title }}"></div>
  <canvas id="doughnutChartDisplay" class="doughnut-chart-display" width="275" height="360"></canvas>
</div>
{% endmacro %}

{% macro jenkins(display, position, widget, size, rate) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-jenkins" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <div class="icon-background-alt">
    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
  </div>
  <p id="jenkinsJobsHeading" class="jenkins-jobs-heading">All jenkins builds are successful</p>
</div>
{% endmacro %}

{% macro map(display, title, location, position, widget, size, rate) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-map" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <h3>{{ title }}</h3>
  <iframe id="mapWidgetFrame" src="//www.google.com/maps/embed/v1/place?q={{ location }}&zoom=17&key=AIzaSyCjCwOg99rHP3xGtJyM7LpPdnayHEz4Bxg"></iframe>
</div>
{% endmacro %}

{% macro pieChart(display, x, y, main, title, position, widget, size, rate) %}
<table id="dataChartPie" class="data-table">
    {% for item in main %}
    <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
</table>
<div class="flex-widget-{{ display }}-{{ size }} widget-pieChart" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <div id="pieChartData" data-x="{{ x }}" data-y="{{ y }}" data-title="{{ title }}"></div>
  <canvas id="pieChartDisplay" class="pie-chart-display" width="275" height="360"></canvas>
</div>
{% endmacro %}

{% macro notices(display, heading, comment, position, widget, size, rate) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-notices" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
<h2>{{ heading }}</h2>
<p>{{ comment }}</p>
</div>
{% endmacro %}

{% macro progress(display, data, position, widget, size, rate) %}
<div class="flex-widget-{{ display }}-{{ size }} widget-progress" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <p class="progress-meter-heading">Sprint Progress</p>
<div id="progressMeterData" data-percent="{{ data }}"></div>
<canvas id="progressMeterDisplay" class="progress-meter-canvas" width="200" height="200"></canvas>
<span>Some text here</span>
<br>
<span>Last updated at { time }</span>
</div>
{% endmacro %}

{% macro scatterChart(display, x, y, main, title, position, widget, size, rate) %}
<table id="dataChartScatter" class="data-table">
    {% for item in main %}
    <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
</table>
<div class="flex-widget-{{ display }}-{{ size }} widget-scatterChart" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <div id="scatterChartData" data-x="{{ x }}" data-y="{{ y }}" data-title="{{ title }}"></div>
  <canvas id="scatterChartDisplay" class="scatter-chart-display" width="300" height="360"></canvas>
</div>
{% endmacro %}

{% macro weather(display, id, type, city, temp, icon, position, widget, size, rate) %}
<div id="{{ id }}" class="flex-widget-{{ display }}-{{ size }} widget-weather" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <div class="icon-background-weather">
    {% if icon %}
    <i class="wi wi-{{ icon }}"></i>
    {% else %}
    <i class="wi wi-thermometer"></i>
    {% endif %}
  </div>
<p class="weather-city">{{ city }} Weather</p>
<p class="weather-type">{{ type }}</p>
<p class="weather-temp">{{ temp }}°C</p>
</div>
{% endmacro %}

{% macro xkcd(display, id, number, title, img, position, widget, size, rate) %}
<div id="{{ id }}" class="flex-widget-{{ display }}-{{ size }} widget-xkcd" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <p class="xkcd-heading">XKCD: {{ number }}<br>
  {{ title }}</p>
  <br>
  <img class="xkcd-comic" src="{{ img }}" alt="Todays XKCD">
</div>
{% endmacro %}
