{% macro weather(dataset, data) %}
 <h1>{{ data.weather[0] | dump }}</h1>
<h1>{{ data.weather[0].icon }}</h1>
<div id="weatherOne" class="flex-widget-{{ dataset.display }}-{{ dataset.size }} widget-weather" data-position="{{ dataset.position }}" data-widget="{{ dataset.widget }}" data-display="{{ dataset.display }}" data-size="{{ dataset.size }}" data-rate="{{ dataset.dataRate }}" data-style="{{ dataset.style }}">
  <div class="icon-background-weather">
    {% if data.weather.weather[0].icon %}
    <i class="wi wi-{{ data.weather.weather[0].icon }}"></i>
    {% else %}
    <i class="wi wi-thermometer"></i>
    {% endif %}
  </div>
<p class="weather-city">{{ data.weather.name }} Weather</p>
<p class="weather-type">{{ data.weather.weather[0].main }}</p>
<p class="weather-temp">{{ data.weather.main.temp | round(1) }}°C</p>
</div>
{% endmacro %}
