{% macro weather(display, id, type, city, temp, icon, position, widget, size, rate) %}
<div id="{{ id }}" class="flex-widget-{{ display }}-{{ size }} widget-weather" data-position="{{ position }}" data-widget="{{ widget }}" data-display="{{ display }}" data-size="{{ size }}" data-rate="{{ rate }}">
  <div class="icon-background-weather">
    {% if icon %}
    <i class="wi wi-{{ icon }}"></i>
    {% else %}
    <i class="wi wi-thermometer"></i>
    {% endif %}
  </div>
<p class="weather-city">{{ city }} Weather</p>
<p class="weather-type">{{ type }}</p>
<p class="weather-temp">{{ temp }}°C</p>
</div>
{% endmacro %}
